<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'personas' %}">Personas</a>
        <h1>Inicio</h1>
        <div id="like_button_container"></div>
        <p id='loader'>Cargando...</p>
    </body>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js" crossorigin></script>
    <script type="text/babel">
        'use strict'

        const e = React.createElement;

        function Example() {
            // Declaración de una variable de estado que llamaremos "count"
            const [count, setCount] = React.useState(0);

            return (<React.Fragment>
                <p>You clicked {count} times</p>
                <button onClick={() => setCount(count + 1)}>+</button>
                <button onClick={() => setCount(count - 1)}>-</button>
            </React.Fragment>);
        }


        var button = document.querySelector("#like_button_container")


        ReactDOM.render(
            e(Example),
            button
        )

        document.querySelector('#loader').style.display='none';
    </script>
</html>
